@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('/images/login-bg.png');
    background-size: cover;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.authBox {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px) saturate(150%);
    -webkit-backdrop-filter: blur(20px) saturate(150%);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.073);
    border-radius: 16px;
    width: 560px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    text-align: center;
    padding: 30px 24px;
    color: rgba(14, 37, 21, 1);
}

.heading {
    margin-bottom: 15px;
    text-align: left;
    font-weight: 500;
    font-size: 32px;
    color: rgba(14, 37, 21, 1);
}

.text {
    font-size: 16px;
    color: rgba(140, 140, 140, 1);
    text-align: left;
    margin-bottom: 20px;
}

.authLink {
    font-weight: 500;
    font-size: 16px;
    color: rgba(28, 74, 42, 1);
    text-decoration: none;
}

.authLink:hover {
    text-decoration: underline;
}

.inputGroup {
    width: 100%;
    margin: 15px 0;
    text-align: left;
}

.inputLabel {
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #8C8C8C;
}

.inputWrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 12px;
}

.inputField {
    width: 100%;
    border: none;
    font-size: 16px;
    outline: none;
    padding-left: 35px;
    background: transparent;
}

.inputField::placeholder{
    font-family: 'Montserrat', sans-serif;
}

.inputIcon {
    position: absolute;
    left: 10px;
}

.eyeIcon {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.authBtn {
    width: 100%;
    padding: 16px 48px;
    background: #1C4A2A;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
}

.authBtn:hover {
    background: #003300;
}

.resetBtn {
    width: 100%;
    padding: 16px 48px;
    background: #C6B09A;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif;
}

.resetBtn:hover {
    background: #888;
}

.errorText {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}


@media screen and (max-width: 768px) {
    .authBox {
        width: 90%;
        max-width: 400px;
        margin: 20px auto;
        padding: 25px 20px;
    }
}

@media screen and (max-width: 480px) {
    .authBox {
        width: 95%;
        padding: 20px 15px;
        margin: 15px auto;
    }

    .heading {
        font-size: 28px;
    }

    .authBtn, .resetBtn {
        font-size: 14px;
        padding: 14px 40px;
    }
}