.filterContainer {
    width: 100%;
    max-width: 300px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.filterHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
}

.filteSpan{
    font-size: 18px;
    font-weight: 500;
}

.resetButton {
    background: none;
    border: none;
    color: #1C4A2A;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.resetButton:hover {
    text-decoration: underline;
}

.filterSection {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 10px;
    background: #f9f9f9;
}

.filterTitle {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}

.filterLabel {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 5px 0;
    gap: 8px;
}

.filterInput {
    accent-color: #2e7d32;
    width: 16px;
    height: 16px;
}

@media (max-width: 768px) {
    .filterContainer {
        max-width: 100%;
        padding: 12px;
    }

    .filterLabel {
        font-size: 16px;
    }

    .filterTitle {
        font-size: 18px;
    }

    .resetButton {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .filterContainer {
        padding: 10px;
        text-align: left;
    }

    .filterSection {
        padding: 10px;
    }

    .filterLabel {
        font-size: 14px;
    }

    .resetButton {
        font-size: 14px;
    }
}
